@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary: #FFB716;
    --secondary: #212A3E;
    --bg: #0B0B0C;
}

html {
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bg);
    box-sizing: border-box;
}

.blur-kuning {
    background-color: var(--primary);
    position: fixed;
    z-index: -100;
    width: 40vh;
    height: 60vh;
    right: -20vh;
    bottom: -25vh;
    border-radius: 100%;
    filter: blur(200px)
}

.logo-kms-kuning {
    position: fixed;
    width: 40rem;
    height: 50rem;
    bottom: 5rem;
    right: 0;
    z-index: -100;
}

::-webkit-scrollbar {
    width: 1.3rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #222224;
}

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

/* HEADER */
header {
    position: relative;
    padding: 0 2rem;
}

header #navbar {
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    align-items: center;
    padding: 25px 5%;
    background: linear-gradient(145deg, #3D3D3D 45%, rgba(255, 183, 22, 0.5));
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    user-select: none;
    overflow: hidden;
}

header #navbar .teks-kms {
    width: auto;
    display: inline;
    cursor: pointer;
    color: var(--primary);
    font-size: 21px;
    font-weight: bolder;

}

header #navbar .teks-kms:hover {
    text-shadow: 0 0 10px var(--primary);
}

header #navbar ul li {
    list-style: none;
    display: inline-block;
}

header ul li button {
    font-weight: 500;
    font-size: 12px;
    color: var(--primary);
    padding: 5px 20px;
    background-color: var(--secondary);
    border-radius: 20px;
    border: 1px var(--secondary) solid;
    cursor: pointer;
    transition: 0.1s all;
}

header #navbar ul li button {
    margin-left: 10px;
}

header ul li button:hover {
    border: 1px rgba(255, 183, 22, 0.8) solid;
}

header ul li button.active {
    border: 1px #FFB716 solid;
    color: white;
    background-color: var(--primary);
}

header #navbar .tombol-menu {
    display: none;
    cursor: pointer;
}

header #navbar .tombol-menu i {
    background-color: var(--primary);
    font-size: 24px;
    border-radius: 3px;
}

/* AKHIR HEADER */

/* DROPDOWN NAVBAR*/
header .dropdown-menu {
    display: none;
    position: fixed;
    top: 50px;
    right: 20px;
    width: 200px;
    height: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header .dropdown-menu.open {
    height: 210px;
    padding: 10px 0;
}


header .dropdown-menu li {
    width: 100%;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .dropdown-menu li a {
    width: 100%;
    display: flex;
    justify-content: center;
    background: transparent;
    border: 1px rgba(255, 255, 255, 0) solid;
}

header .dropdown-menu li button {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: transparent;
    border: 1px rgba(255, 255, 255, 0) solid;
    border-radius: 20px;
}

header .dropdown-menu li button.active {
    color: #fff;
    background-color: var(--primary);
    border: 1px rgba(255, 183, 22, 0.8) solid;
}

header .dropdown-menu li button:hover {
    border: 1px rgba(255, 183, 22, 0.8) solid;
}

/* AKHIR DROPDOWN NAVBAR */
/* ===================================================================== */

/* ===================================================================== */
/* MAIN */
main {
    height: auto;
    display: flex;
    justify-content: center;
    /* border: 1px blue solid; */
    height: 75vh;
    margin-top: 70px;
}

main #container {
    width: 90%;
    height: 100%;
    /* border: 2px green solid; */
    display: flex;
    justify-content: center;
}

/* AKHIR MAIN */
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER BERANDA */
main #container .container-beranda {
    display: flex;
    width: 100%;
    height: 100%;
    /* border: 2px green solid; */
    justify-content: space-between;
}

main #container .container-beranda.close {
    height: 0;
    display: none;
}

main #container .container-beranda.open {
    height: 100%;
    display: flex;
}

main #container .container-beranda .container-kiri {
    width: 45%;
    height: 100%;
    background-color: rgba(33, 42, 62, 0.5);
    border: 5px var(--primary) solid;
    border-radius: 20px;
    box-sizing: border-box;
}

main #container .container-beranda .container-kiri img {
    display: flex;
    justify-self: center;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    margin: auto;
}

main #container .container-beranda .container-kanan {
    width: 50%;
    height: 100%;
    display: block;
    justify-content: center;
    margin-left: 0;
    /* border: 1px #fff solid; */
}

main #container .container-beranda .container-kanan .carouselnya {
    position: relative;
    width: 100%;
    height: 58vh;
    display: flex;
    justify-content: center;
    border: 5px var(--primary) solid;
    border-radius: 20px;
    background-color: rgba(33, 42, 62, 0.5);
    box-sizing: border-box;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 10px;
}

main #container .container-beranda .container-kanan .couple-container-kanan {
    /* position: absolute; */
    display: block;
    justify-content: center;
    text-align: center;
    /* bottom: 13vh; */
}

main #container .container-beranda .container-kanan .couple-container-kanan h3 {
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

main #container .container-beranda .container-kanan .carouselnya .slides-row {
    display: flex;
    height: 100%;
}

main #container .container-beranda .container-kanan .carouselnya .slides-row .slide {
    min-width: 100%;
    display: flex;
    /* border: 1px #eee solid; */
}

main #container .container-beranda .container-kanan .carouselnya .slides-row .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;

}

main #container .container-beranda .container-kanan .carouselnya span.next,
main #container .container-beranda .container-kanan .carouselnya span.prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px 16px;
    color: #eee;
    font-weight: bold;
    font-size: 22px;
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    z-index: 1;
    transition: .5s;
}

main #container .container-beranda .container-kanan .carouselnya span.next {
    right: 10px;
}

main #container .container-beranda .container-kanan .carouselnya span.prev {
    left: 10px;
}

main #container .container-beranda .container-kanan .carouselnya span.next:hover,
main #container .container-beranda .container-kanan .carouselnya span.prev:hover {
    background-color: rgba(255, 183, 22, 0.8);
    color: white;
}

main #container .container-beranda .container-kanan .couple-container-kanan .dots {
    margin-bottom: 20px;
}

main #container .container-beranda .container-kanan .couple-container-kanan .dots .active {
    background-color: var(--primary);
}

main #container .container-beranda .container-kanan .couple-container-kanan .dots .dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    border: 2px #fff solid;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

/* AKHIR CONTAINER BERANDA */
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER BELANJA DAN NAVBAR BELANJA */
.container-belanja {
    width: 100%;
    margin-top: 70px;
    padding-bottom: 30px;
    display: block;
    justify-content: center;
    /* border: 2px purple solid; */
}

.container-belanja .nav-belanja {
    width: 300px;
    height: 40px;
    margin: 0 auto 15px;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    /* border: 2px orangered solid; */
}

.container-belanja .nav-belanja ul {
    list-style: none;
}

.container-belanja .nav-belanja ul li {
    display: inline-block;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
    border: 1px var(--secondary) solid;
    padding: 3px 15px;
    user-select: none;
    cursor: pointer;
}

.container-belanja .nav-belanja ul li:hover {
    border: 1px var(--primary) solid;
    border-radius: 20px;
}

.container-belanja .nav-belanja ul li.active {
    border: 1px #FFB716 solid;
    border-radius: 20px;
    color: white;
    background-color: var(--primary);
}

.container-belanja .isi-belanja {
    width: 90%;
    height: auto;
    margin: 0 auto;
    background-color: rgba(33, 42, 62, 0.5);
    border-radius: 20px;
    /* border: 2px green solid; */

}

.container-belanja .isi-belanja .container-isi {
    width: 100%;
    height: auto;
    /* border: 2px red solid; */
    box-sizing: border-box;
    justify-content: center;
    display: block;
    text-align: center;
}

/* AKHIR CONTAINER BELANJA DAN NAVBAR BELANJA */
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER BELANJA BAJU */
.container-belanja .isi-belanja .container-isi .belanja-baju {
    display: block;
    animation: masok .5s;
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk {
    border: 2px #111 solid;
    border-radius: 15px;
    width: 190px;
    height: auto;
    margin: 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    /* border: 2px red solid; */
    display: inline-block;
    justify-content: center;
    background: linear-gradient(90deg, var(--secondary) 50%, rgba(255, 183, 22, 0.15) 50%);
    cursor: pointer;
    transition: .2s all;
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk .konten-bawah {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5px; */
    padding: 5px;
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk .konten-bawah .teks {
    color: var(--primary);
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk .konten-bawah .nama-produk {
    width: 100%;
    display: block;
}

.container-belanja .isi-belanja .container-isi .belanja-baju .produk .konten-bawah .harga {
    width: 100%;
    display: block;
}

/* AKHIR CONTAINER BELANJA BAJU*/
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER BELANJA MERCHANDISE */

.container-belanja .isi-belanja .container-isi .belanja-mchan {
    display: none;
    animation: masok .5s;
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk {
    border: 2px #111 solid;
    border-radius: 15px;
    width: 190px;
    height: auto;
    margin: 20px 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    /* border: 2px red solid; */
    display: inline-block;
    justify-content: center;
    background: linear-gradient(90deg, var(--secondary) 50%, rgba(255, 183, 22, 0.15) 50%);
    cursor: pointer;
    transition: .2s all;
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk .konten-bawah {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 5px; */
    padding: 5px;
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk .konten-bawah .teks {
    color: var(--primary);
    font-size: 12px;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk .konten-bawah .nama-produk {
    width: 100%;
    display: block;
}

.container-belanja .isi-belanja .container-isi .belanja-mchan .produk .konten-bawah .harga {
    width: 100%;
    display: block;
}

/* AKHIR CONTAINER BELANJA MERCHANDISE */
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER BELANJA -> PRODUK KLIK */

.container-belanja .overlay {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
}

.container-belanja .overlay .produk-klik {
    /* width: 1150px;
    height: 330px; */
    position: fixed;
    top: 25%;
    right: 20%;
    left: 20%;
    bottom: 20%;
    height: 0px;
    display: none;
    background-color: #FFF4E2;
    border-radius: 20px;
    padding: 40px 50px;
    transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
}

.container-belanja .overlay .produk-klik.active {
    display: block;
    height: 430px;
    animation: masok .3s forwards;
}


@keyframes masok {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.container-belanja .overlay .produk-klik .bx {
    font-size: 36px;
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: #0B0B0C;
}

.container-belanja .overlay .produk-klik .konten-atas {
    /* border: 2px green solid; */
    display: flex;
    justify-content: left;
    align-items: end;
    text-align: left;
}

.container-belanja .overlay .produk-klik .konten-atas img {
    width: 200px;
    border: 1px #3D3D3D solid;
    border-radius: 15px;
    display: inline-block;
}

.container-belanja .overlay .produk-klik .konten-atas .teks-gambar {
    /* height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 20px; */
    display: inline-block;
    margin-left: 25px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    /* border: 1px black solid; */
}

.container-belanja .overlay .produk-klik .konten-atas .teks-gambar span {
    color: rgba(61, 61, 61, 1);
    font-weight: 600;
}

.container-belanja .overlay .produk-klik .konten-bawah {
    font-size: 12px;
    font-weight: 600;
    line-height: 21px;
}

.container-belanja .overlay .produk-klik .konten-bawah .ukuran p {
    margin-bottom: 3px;
}

.container-belanja .overlay .produk-klik .konten-bawah .ukuran button {
    width: 35px;
    height: 25px;
    margin-left: -3px;
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.8);
}

.container-belanja .overlay .produk-klik .konten-bawah .ukuran button:hover {
    text-shadow: 0 0 1px var(--primary);
}

.container-belanja .overlay .produk-klik .konten-bawah .ukuran #l.active {
    text-shadow: 0 0 5px var(--primary);
    transform: scale(1.08);
}

.container-belanja .overlay .produk-klik .konten-bawah .ukuran #xl.active {
    text-shadow: 0 0 5px var(--primary);
    transform: scale(1.08);
}

.container-belanja .overlay .produk-klik .konten-bawah .ukuran #xxl.active {
    text-shadow: 0 0 5px var(--primary);
    transform: scale(1.08);
}

.container-belanja .overlay .produk-klik .konten-bawah .jumlah {
    margin-top: 10px;
}

.container-belanja .overlay .produk-klik .konten-bawah .jumlah p {
    margin-bottom: 3px;
}

.container-belanja .overlay .produk-klik .konten-bawah .jumlah input {
    width: 105px;
    /* background-color: var(--secondary);
    color: var(--primary); */
    padding: 3px 10px;
}


.container-belanja .overlay .produk-klik .konten-bawah .tombolnya {
    /* border: 1px black solid; */
    text-align: center;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 7%;
    left: 20%;
    right: 20%;
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya button {
    width: 200px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF4E2;
    border: transparent;
    padding: 5px;
    font-size: 12px;
    margin: 0 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    transition: 0.2s all;
    cursor: pointer;
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya .atc {
    background-color: var(--primary);
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya .atc span {
    transform: translateX(15px);
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya .atc .bx {
    color: white;
    position: absolute;
    top: 7px;
    left: 25px;
    /* border: 2px red solid; */
    text-align: left;
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya .beli {
    background-color: #CA3537;
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya .atc:hover {
    box-shadow: 0 0 7px var(--primary);
    transform: scale(1.03);
}

.container-belanja .overlay .produk-klik .konten-bawah .tombolnya .beli:hover {
    box-shadow: 0 0 7px #CA3537;
    transform: scale(1.03);
}

/* AKHIR CONTAINER BELANJA -> PRODUK KLIK */
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER PESAN TIKET */
main #container .container-pesantik {
    width: 70vh;
    height: 100%;
    border-radius: 20px;
    background-color: var(--secondary);
    box-sizing: border-box;
    align-items: center;
    display: block;
    /* border: 2px red solid; */
}

main #container .container-pesantik .pesantik-atas {
    width: 100%;
    /* border: 1px white solid; */
    display: block;
    justify-content: center;
    margin: 3vh auto 0 auto;
    align-items: center;
    text-align: center;
}

main #container .container-pesantik .pesantik-atas img {
    width: 120px;
    height: auto;
}

main #container .container-pesantik .pesantik-atas h1 {
    color: var(--primary);
    font-size: 18px;
}

main #container .container-pesantik .pesantik-menu {
    width: 90%;
    height: 50%;
    /* border: 2px white solid; */
    margin: 10% auto 0 auto;
    display: block;
}

main #container .container-pesantik .pesantik-menu .form-menu {
    width: 90%;
    height: 100%;
    /* border: 2px blue solid; */
    margin: 0 auto;
}

main #container .container-pesantik .pesantik-menu .form-menu .pilihan .label-pesantik {
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

main #container .container-pesantik .pesantik-menu .form-menu .pilihan select {
    width: 100%;
    height: 28px;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: 0;
}

main #container .container-pesantik .pesantik-menu .form-menu .pilihan input {
    width: 100%;
    height: 28px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
}

main #container .container-pesantik .pesantik-menu .form-menu .pilihan .checkout {
    margin-top: 40px;
    background-color: #146C94;
    color: white;
    border: transparent;
    cursor: pointer;
}

main #container .container-pesantik .pesantik-menu .form-menu .pilihan .checkout:hover {
    box-shadow: 0 0 5px 1px #146C94;
}

main #container .container-pesantik .pesantik-menu .form-menu .pilihan .checkout:active {
    transform: scale(0.97);
}

/* AKHIR CONTAINER PESAN TIKET */
/* ===================================================================== */

/* ===================================================================== */
/* CONTAINER SPONSOR */
#sponsor {
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: block;
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--primary);
}

#sponsor .container {
    width: auto;
    padding: 10px;
    /* border: 3px #fff solid; */

}

#sponsor .container h1 {
    color: var(--bg);
    text-align: center;
    font-size: 24px;
}

#sponsor .container .sponsor-utama {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 1vh;
}

#sponsor .container .sponsor-utama img {
    width: 60vh;
}

#sponsor .container .sponsor-lainnya {
    display: flex;
    justify-content: center;
    border: 1px red solid;
    width: auto;
}

#sponsor .container img {
    width: 150px;
    margin: 5vh 5vh;
    filter: grayscale(90%);
}

#sponsor img:hover {
    filter: grayscale(0%) brightness(120%);
}

/* AKHIR CONTAINER SPONSOR*/
/* ===================================================================== */

/* ===================================================================== */
/* RESPONSIVE WIDTH 1900px*/
@media (max-width: 1900px) {}

/* AKHIR RESPONSIVE WIDTH 1900px */
/* ===================================================================== */

/* ===================================================================== */
/* RESPONSIVE WIDTH 1400px*/
@media (max-width: 1400px) {
    main #container .container-beranda {
        width: 100%;
    }

    #sponsor .container img {
        width: 12vh;

    }
}

/* AKHIR RESPONSIVE WIDTH 1400px */
/* ===================================================================== */

/* ===================================================================== */
/* RESPONSIVE WIDTH 1200px */
@media (max-width: 1200px) {

    header #navbar .teks-kms {
        font-size: 18px;
    }

    header #navbar ul li button {
        font-size: 11px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main #container {
        width: 90%;
    }

    main #container .container-beranda {
        width: 100%;
    }

    main #container .container-beranda .container-kiri {
        width: 45%;
        height: 100%;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan h3 {
        font-size: 14px;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan .dots {
        margin-bottom: 20px;
    }
}

/* AKHIR RESPONSIVE WIDTH 1200px */
/* ===================================================================== */

/* ===================================================================== */
/* RESPONSIVE WIDTH 992px */
@media (max-width:992px) {
    header #navbar .teks-kms {
        font-size: 16px;

    }

    header #navbar ul li button {
        font-size: 10px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    main #container {
        width: 95%;
    }

    main #container .container-beranda {
        width: 100%;
    }

    main #container .container-beranda .container-kiri {
        width: 45%;
        height: 100%;
    }

    main #container .container-beranda .container-kiri img {
        width: 100%;
        height: 100%;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan .dots {
        margin-bottom: 20px;
    }

    #sponsor .container .sponsor-utama {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 1vh;
    }

    #sponsor .container .sponsor-utama img {
        width: 50vh;
    }

    #sponsor .container .sponsor-lainnya {
        display: flex;
        justify-content: center;
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #sponsor .container img {
        width: 15vh;
        margin: 5vh 4vh;
        filter: grayscale(90%);
    }

}

/* AKHIR RESPONSIVE WIDTH 992px */
/* ===================================================================== */

/* ===================================================================== */
/* RESPONSIVE WIDTH 768px */
@media (max-width: 768px) {
    header #navbar .teks-kms {
        font-size: 18px;

    }

    header #navbar .tombol-menu {
        display: block;
        cursor: pointer;
    }

    header #navbar .menu-nav {
        display: none;
    }

    header .dropdown-menu {
        display: block;

    }

    header #navbar ul li button {
        font-size: 7px;

    }

    main #container {
        width: 95%;
        height: 100%;
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    main #container .container-beranda {
        width: 100%;
        height: 85%;
        /* border: 2px red solid; */
    }

    main #container .container-beranda .container-kiri {
        width: 48%;
        height: 100%;
    }

    main #container .container-beranda .container-kiri img {
        object-fit: contain;
    }

    main #container .container-beranda .container-kanan {
        width: 50%;
        height: 100%;
    }

    main #container .container-beranda .container-kanan .carouselnya {
        position: relative;
        width: 100%;
        height: 80%;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan h3 {
        font-size: 12px;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan .dots .dot {
        height: 10px;
        width: 10px;
    }

    #sponsor {
        margin-top: 5vh;
    }

    #sponsor .container .sponsor-utama {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #sponsor .container .sponsor-utama img {
        width: 50vh;
    }

    #sponsor .container .sponsor-lainnya {
        width: 80%;
        height: 100%;
        /* border: 2px white solid; */
        display: block;
        justify-content: space-between;
        margin: 0 auto;
    }

    #sponsor .container img {
        text-align: center;
        display: inline-block;
        width: 15vh;
        margin: 3vh 10vh;
        filter: grayscale(90%);
    }

}

/* AKHIR RESPONSIVE WIDTH 768px */
/* ===================================================================== */

/* ===================================================================== */
/* RESPONSIVE WIDTH 576px */
@media (max-width: 576px) {
    header #navbar .teks-kms {
        font-size: 16px;
    }

    main #container {
        width: 85%;
        align-items: start;
    }

    main #container .container-beranda {
        display: block;
        height: 100%;
        /* border: 2px red solid; */
    }

    main #container .container-beranda .container-kiri {
        width: 90%;
        height: 35vh;
        margin: 0 auto 2vh auto;
    }

    main #container .container-beranda .container-kiri img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    main #container .container-beranda .container-kanan {
        width: 90%;
        height: 100%;
        display: block;
        margin: 0 auto;
        /* border: 1px #fff solid; */
    }

    main #container .container-beranda .container-kanan .carouselnya {
        position: relative;
        width: 100%;
        height: 150px;
        margin-bottom: 10px;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan h3 {
        line-height: 15px;
        font-size: 10px;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan .dots {
        margin-bottom: 10px;
    }

    main #container .container-beranda .container-kanan .couple-container-kanan .dots .dot {
        height: 8px;
        width: 8px;
    }

    main #container .container-pesantik {
        width: 50vh;
        height: 95%;
    }

    main #container .container-pesantik .pesantik-atas {
        width: 100%;
        display: block;
        justify-content: center;
        margin: 3vh auto 0 auto;
        /* border: 2px red solid; */
        align-items: center;
        text-align: center;
    }

    main #container .container-pesantik .pesantik-atas img {
        width: 100px;
    }

    main #container .container-pesantik .pesantik-atas h1 {
        font-size: 16px;
    }

    main #container .container-pesantik .pesantik-menu {
        width: 90%;
        /* border: 2px white solid; */
        margin: 5vh auto 0 auto;
    }

    main #container .container-pesantik .pesantik-menu .form-menu {
        width: 90%;
        /* border: 2px blue solid; */
        margin: 0 auto;
    }

    main #container .container-pesantik .pesantik-menu .form-menu .pilihan .label-pesantik {
        color: var(--primary);
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 7px;
    }

    main #container .container-pesantik .pesantik-menu .form-menu .pilihan select {
        width: 100%;
        height: 25px;
        border-radius: 5px;
        margin-bottom: 17px;
        outline: 0;
    }

    main #container .container-pesantik .pesantik-menu .form-menu .pilihan input {
        width: 100%;
        height: 25px;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
    }

    main #container .container-pesantik .pesantik-menu .form-menu .pilihan .checkout {
        margin-top: 37px;
        background-color: #146C94;
        color: white;
        border: transparent;
        cursor: pointer;
    }


    #sponsor {
        margin-top: 5vh;
    }

    #sponsor .container {
        display: block;
        justify-content: center;
    }

    #sponsor .container h1 {
        font-size: 18px;
    }

    #sponsor .container .sponsor-utama {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    #sponsor .container .sponsor-utama img {
        width: 35vh;
    }

    #sponsor .container .sponsor-lainnya {
        width: 80%;
        height: 100%;
        /* border: 2px white solid; */
        display: block;
        justify-content: space-between;
        margin: 0 auto;
    }

    #sponsor .container img {
        text-align: center;
        display: inline-block;
        width: 10vh;
        margin: 3vh 10vh;
        filter: grayscale(90%);
    }

}

/* AKHIR RESPONSIVE WIDTH 576px */
/* ===================================================================== */