* {
    font-family: 'Poppins';
}

body {
    background-image: url(../img/background-img.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background {
    overflow: hidden;
    background-color: #111;
    padding-top: 65px;
    padding-bottom: 55px;
    margin-bottom: 30px;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
}

.navbar {
    border-radius: 20px;
    margin: 13px;
    height: 40px;
}

.kms-vol2 {
    width: 50px;
    margin-bottom: 2px;
    margin-left: 10px;
}

.bttn {
    color: #fff !important;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    height: auto;
    font-size: 15px;
    float: right;
}

.bttn-pesanTiket {
    background-color: #303596;
    width: 135px;
    height: 30px;
}

.bttn-pesanTiket:hover {
    box-shadow: 0 0 7px #303596;
}

.bttn-shop {
    background-color: #F62828;
    width: 90px;
    height: 30px;
}

.bttn-shop:hover {
    box-shadow: 0 0 7px #F62828;
}


.thumb-gede img {
    height: 65vh;
    margin-bottom: 7px;
}

.thumb-sege {
    border: 5px #fff solid;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 10px;
    transform: scalex(0.95);
}

.thumb-sege img {
    height: 35vh;
    transition: transform 0.2s;
    transform: scale(1.1);
}

.thumb-sege img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.thumb-kecil {
    border: 5px #fff solid;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 10px;
    transform: scalex(0.9);
}

.thumb-kecil img {
    width: 100%;
    height: 25vh;
    transform: scale(1.2);
    transition: transform 0.2s;
}

.thumb-kecil img:hover {
    cursor: pointer;
    transform: scale(1.4);
}

.teks-sponsor {
    width: 100%;
    height: 30%;
    font-size: 16px;
    border: 3px #fff solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 10px;
    text-align: center;
    color: #fff;
}